/* Estilos gerais da aplicação (cores, fontes, etc.) */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.campo {
  margin-bottom: 15px;
}

.campo label {
  display: block;
  margin-bottom: 5px;
}

.campo input[type="text"],
.campo input[type="email"],
.campo input[type="password"],
.campo input[type="date"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.campo input[type="text"]:focus,
.campo input[type="email"]:focus,
.campo input[type="password"]:focus,
.campo input[type="date"]:focus {
  outline: none;
  border-color: #1877f2;
}


.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.botoes button {
  background-color: #4CAF50; /* Verde */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botoes button:hover {
  background-color: #45a049; /* Verde mais escuro */
}
