<h1>Bem-vindo ao cadastro</h1>

<div class="container">
  <h2>Login</h2>
  <form (ngSubmit)="login()">
    <mat-form-field class="form-group">
      <mat-label>CPF:</mat-label>
      <input matInput [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}" mask="000.000.000-00" placeholder="Digite o CPF">
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-label>Senha:</mat-label>
      <input matInput [(ngModel)]="senha" [ngModelOptions]="{standalone: true}" type="password" placeholder="Digite a senha">
    </mat-form-field>
    <button mat-raised-button type="submit" class="btn-login btn-submit">Login</button>
  </form>
  <button mat-button class="btn-submit custom-button" (click)="recuperarSenha()">Recuperar Senha</button>
    <!-- Botão para criar cadastro -->
    <button class="btn btn-submit custom-button" *ngIf="exibirBotaoCadastro" (click)="irParaCadastroPessoa()">Criar um novo cadastro</button>
</div>

